body{
	color: white;
	background-color: black;
}
h1{
	color:FireBrick;
}

h2{
	color:Black;
	font-weight:500;
	background-color:White;	
}

.header{	
	text-transform:uppercase;
	font-size:40px;
	background-image:url(http://blog.unnes.ac.id/conservationofnature/wp-content/uploads/sites/842/2015/11/Gambar-Pemandangan-Alam-Terindah-Di-Dunia-2014.jpg);
	height:400px;
}

.header a:link, a:visited {
	font-size:15px;
	background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.header a:hover, a:active{
	background-color: grey;
}


.header a{
	margin-left: 500px;
	position:relative;
	top:-116px;
}

.perkenalanAwal{
	text-transform:camelcase;
	color:FireBrick;
	font-size:15px;
	text-align: center;
}	

.dalem1{
	color:blue;
	text-align: center;
}

.footer{
	height: 144px;
	color:white;
	position: absolute;
    width: 644px;
    height: 20px;
    margin: 0 auto;
}

.footer p{
	margin-left:25px;
}

.aboutTheWeb {
	margin-left: 200px;
	margin-right: 200px;
}